.square {
  border: 1px solid green;
  box-sizing: border-box;
  background-color: palegoldenrod;
  width: 100px;
  height: 100px;
}

.fox {
  background-image: url('../src/components/fox.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}